html {
  background-color: #FFFDF0;
  color: #372020;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 100%;
  width: 100%;
}

a {
  color: #9C3030;
  text-decoration: none;
}

a:hover {
  background-color: #FFDEDE;
}

body {
  height: 100%;
  width: 46rem;
  margin: 0 0 0 20%;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 500;
  margin: 0;
  padding: 0 0 2rem;
}

h2, h3, h4 {
  padding: 1rem 0;
}

p {
  padding: 0 0 1rem;
  margin: 0;
}

code {
  font-family: "Ubuntu Mono";
  padding: 0.3rem;
  color: #9C3030;
  border-radius: 2px;
  border: 1px solid #FFB0B0;
  background-color: #FFF4F8;
}

.title {
  padding-bottom: 3rem;
}

.header {
  padding: 1rem 0 4rem;
}

.in-header {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;
}

.logo {
  border: 1px solid #FFEBDF;
  border-radius: 8px;
  max-width: 90px;
}

.name {
  color: #9C3030;
  font-size: 3rem;
  font-weight: 500;
  width: 20rem;
}

.menu ul {
  list-style-type: none;
}

.menu-item {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
}

.src {
  font-family: "Ubuntu Mono";
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 3px;
  background: #333;
  color: #DCDCCC;
}

.subtitle {
  color: #c48984;
  font-size: .8rem;
  font-weight: bold;
  padding: 1rem 0 2.5rem;
}

.subtitle-date {
  font-weight: normal;
}

.timestamp, .pre-timestamp {
  color: #c48984;
  font-size: .9rem;
  vertical-align: top;
}

.pre-timestamp {
  color: #372020;
}

.delimiter {
  margin: 0;
  padding: 0;
  border: 0;
  height: 3rem;
}

.delimiter-small {
  margin: 0;
  padding: 0;
  border: 0;
  height: 2rem;
}

.org-preprocessor {
  color: #8cd0d3;
}

.org-preprocessor {
  color: #8cd0d3;
}

.org-variable-name {
  color: #f0dfaf;
}

.org-string {
  color: #cc9393;
}

.org-type {
  color: #dfdfbf;
  font-weight: bold;
}

.org-function-name {
  color: #8cd0d3;
  font-weight: bold;
}

.org-keyword {
  color: #f0dfaf;
  font-weight: bold;
}

.org-comment {
  color: #7f9f7f;
}

.org-doc {
  color: #afd8af;
}

.org-comment-delimiter {
  color: #708070;
}

.org-constant {
  color: #dca3ac;
  font-weight:bold;
}

.org-builtin {
  color: #7f9f7f;
}

#preamble {
  height: 15%;
}

#content {
  min-height: calc(80% - 30px);
  padding-bottom: 20px;
  padding-top: 30px;
}

#postamble {
  font-size: 0.8rem;
  padding-bottom: .5rem;
}

.org-ul {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
  .name {
    display: none;
  }
}
