---
type Props = {
  date: string;
  class?: string;
};

const { date, class: className } = Astro.props;
const parsed = new Date(date);
---

<div class:list={['inline-flex items-center gap-1.5 text-sm', className]}>
  <span class="text-default/50">Found on</span>
  <time datetime={parsed.toISOString()} class="font-semibold text-default">
    {parsed.toLocaleDateString('en-us', {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
    })}
  </time>:
</div>
